# =========================
# Database
# =========================
POSTGRES_DB=auction_db
POSTGRES_USER=auction_user
POSTGRES_PASSWORD=auction_pass
POSTGRES_HOST=localhost
POSTGRES_PORT=5434

# =========================
# Redis
# =========================
REDIS_HOST=localhost
REDIS_PORT=6381

# =========================
# App (future use)
# =========================
APP_PORT=3000
NODE_ENV=development
